<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated zeugen -->
      <package
            uri="http://zeugen.configuration/1_0"
            class="configuration.ConfigurationPackage"
            genModel="model/zeugen.genmodel"/>
   </extension>

</plugin>
